# Introduction to Python

## Data types

One of the most important elements to define a programming language is the definition of the data types that this language will use. These types of data can be from very simple such as numbers or characters to much more complex data such as graphics, files and others.

To the variables you have to give them a name, and this is one of the three most complex problems of computer science:

>>There are only two hard things in Computer Science: cache invalidation and naming things. *Phil Kartlon*

According to the XX_MarkDown_Link_xx, the language adopts the `snake_case` style, that is, the data with lowercase names are identified, separated by the script under` _`.

Of course, it is forbidden to use the words reserved as data names:

`` and of the for Is Raise Assert if elif from Lambda Return Break Global Not Try Class Except Or While Continue Exec Import Yield Def Finally In Print`````````````````````picative he

### Numerical types, numerical types

#### Real and whole numbers

In [1]:
a = 7.584 # real number

print(a)
print(type(a))

b = 8 # whole number

print(b)
print(type(b))

c = 10 + 5j

print(c)
print(type(c))

7.584
<class 'float'>
8
<class 'int'>
(10+5j)
<class 'complex'>

Cast

In [2]:
d = float(b) # cast a float

print(d)
print(type(d))

e = int(a) # cast a int

print(e)
print(type(e))

f = complex(a)

print(f)
print(type(f))

print(f.real)
print(f.imag)

8.0
<class 'float'>
7
<class 'int'>
(7.584+0j)
<class 'complex'>
7.584
0.0

Python performs a dynamic punishment when performing an operation. For example, by adding a `float` and an` int`, the `int` is promoted to` float` before adding

In [3]:
d = a + b

print(d, type(d))

d = a - c

print(d, type(d))

15.584 <class 'float'>
(-2.4160000000000004-5j) <class 'complex'>

In [4]:
f = a*b

print(a, type(a))
print(b, type(b))
print(f, type(f))

7.584 <class 'float'>
8 <class 'int'>
60.672 <class 'float'>

In the division of two integers (using /), a float is obtained. Note: This did not happen in Python 2.x, where the division of two integers using /, gave an integer. 

To recover the division of integers, use //.

In [5]:
a = 3
b = 2

c = a/b # <---- In Python 2.x, the division of integers with / gives an integer

print(c, type(c))

c2 = a//b

print(c2, type(c2))

1.5 <class 'float'>
1 <class 'int'>

Powers:

In [6]:
h = 3**2

print(h, type(h))

h1 = 3.0**2

print(h1, type(h1))

h2 = 3**2.0

print(h2, type(h2))

h3 = 3.0**2.0

print(h3, type(h3))

9 <class 'int'>
9.0 <class 'float'>
9.0 <class 'float'>
9.0 <class 'float'>

Modulo:

In [7]:
a = 11
b = 3

c = a%b

print(c, type(c))

a = 11.42
b = 3.21

c = a%b

print(c, type(c))

2 <class 'int'>
1.79 <class 'float'>

Other operations with numbers:

In [8]:
from math import *

c = sqrt(9)

print(c)

d = floor(27.25)

print(d)

f = log(1000)

print(f)

f = cos(0)

print(f)

3.0
27
6.907755278982137
1.0

Constant:

In [9]:
print(pi)
print(e)

3.141592653589793
2.718281828459045

In [10]:
math.sqrt(-1) # <--- no

NameError: name 'math' is not defined

There is a separate module for complex operations

In [11]:
import cmath

cmath.sqrt(-1)

1j

In [12]:
z = 3.0 + 3.0j

print(z.real)

print(z.conjugate())

3.0
(3-3j)

In [13]:
import math

print(cmath.phase(z)) 

print(math.degrees(cmath.phase(z)))

print(abs(z))

print(cmath.polar(z))

0.7853981633974483
45.0
4.242640687119285
(4.242640687119285, 0.7853981633974483)

#### Logical types (bool)

In [14]:
T = True
F = False

print(F)
print(type(F))

False
<class 'bool'>

In [15]:
print(T*F)
print(2*T)

0
2

In [16]:
print("Hello", 23)

Hello 23

In [17]:
a = 28.2

b = a

print(b)

# # print ('greater/less than:', a <b)
c = 99.8
a = c

print(a)
print(b)
# print('igual a: ', a == b)
# print('distinto a: ', a != b)

# print('es: ', a is b)
# print('no es: ', a is not b)

28.2
99.8
28.2

### Strings

A string is a sequence of characters of any kind (letters, numbers, symbols, ...) that are defined using quotes (simple or double.

In [18]:
a = "Este es un ejemplo de un string"

print(a)
print(type(a))
a

Este es un ejemplo de un string
<class 'str'>

'Este es un ejemplo de un string'

In [19]:
print(a)

Este es un ejemplo de un string

In [20]:
b = 'donde podemos usar comillas simples'
c = "o usar comillas dobles"

print(b, c)

donde podemos usar comillas simples o usar comillas dobles

We can concatenate strings using +

In [21]:
d = a + b + c + "y que podemos concatenar usando el signo '+', por ejemplo" 

print(d)

Este es un ejemplo de un stringdonde podemos usar comillas simpleso usar comillas doblesy que podemos concatenar usando el signo '+', por ejemplo

In [22]:
f = 'También podemos usar "comillas dobles" dentro de comillas simple'
print(f)
g = "o 'al revés', como en este caso"
print(g)

También podemos usar "comillas dobles" dentro de comillas simple
o 'al revés', como en este caso

We can add format characters:

In [23]:
h = "Siempre quise aprender\ncomo poner caracteres de formato\nen un string de Python.\n"

print(h)

j = "Supongamos que queremos hacer una lista que contenga los elementos:\n\t * elemento 1\n\t * elemento 2\n\t * and so on..."

print(j)

Siempre quise aprender
como poner caracteres de formato
en un string de Python.

Supongamos que queremos hacer una lista que contenga los elementos:
	 * elemento 1
	 * elemento 2
	 * and so on...

In [24]:
print('%s' % h)
print('%r' % h)

Siempre quise aprender
como poner caracteres de formato
en un string de Python.

'Siempre quise aprender\ncomo poner caracteres de formato\nen un string de Python.\n'

An example of docsting:

In [25]:
m = '''
Acá puedo poner cuantas lineas 
quiera, sin preocuparme si son dos 
lineas, cuantro lineas, 6 lineas...
¿habrá algún límite?
'''



print(m)

Acá puedo poner cuantas lineas
quiera, sin preocuparme si son dos
lineas, cuantro lineas, 6 lineas...
¿habrá algún límite?

#### Indexado (in strings)

A string is an example of 'container' of elements (in this case, characters), which can be accessed by the index that indicates its position:

In [26]:
my_string = 'Hola mundo'

print(my_string[0])
print(my_string[4])
print(my_string[5])

H

m

In [27]:
print(my_string[10]) # My index cannot be greater than the amount of elements

IndexError: string index out of range

Negative indices can be used to access the elements, referring to the last. That is, -1 is the last, the -2 is the penultimate, and so on the style:

In [28]:
print(my_string[-1])
print(my_string[-2])
print(my_string[-10])

o
d
H

####  Slicing

I can access a subset of elements, using a technique known as "smlicing", where, given a String ** A **, I get the subset as ** A [Home: End: Step] **, (where all arguments are optional):

In [29]:
print(my_string[1:6])

sub_string = my_string[6:10]
print(sub_string)

print(my_string[0] + sub_string)

ola m
undo
Hundo

In [30]:
print(my_string[0:5])
print(my_string[:5])

print(my_string[5:10])
print(my_string[5:])

Hola
Hola
mundo
mundo

In [31]:
print(my_string[::2])
print(my_string[1::2])

Hl ud
oamno

In [32]:
print(my_string[::-2])

onmao

#### Some strings methods

In [33]:
string_2 = "se viene el estallido, de mi guitarra, y tu gobierno, también"

print(string_2)

print(string_2.capitalize())

print(string_2.upper())

string_3 = string_2.upper()

print(string_3.lower())

se viene el estallido, de mi guitarra, y tu gobierno, también
Se viene el estallido, de mi guitarra, y tu gobierno, también
SE VIENE EL ESTALLIDO, DE MI GUITARRA, Y TU GOBIERNO, TAMBIÉN
se viene el estallido, de mi guitarra, y tu gobierno, también

In [34]:
k = string_2.find('est')

print(k)

print(string_2[k:])

N = string_2.count('i')

print(N)

N = string_2.count('ta')

print(N)

12
estallido, de mi guitarra, y tu gobierno, también
6
3

In [35]:
string_separado = string_2.split(',')

print(len(string_separado))

string_4 = string_2.replace(', ', '\n')

print(string_4)

string_separado_en_lineas = string_4.splitlines()

print(string_separado_en_lineas)

4
se viene el estallido
de mi guitarra
y tu gobierno
también
['se viene el estallido', 'de mi guitarra', 'y tu gobierno', 'también']

In [36]:
string_de_numeros = '123456789asfdsfds'

print(string_de_numeros.isnumeric())
print(string_de_numeros.isalpha())
print(string_de_numeros.isalnum())

False
False
True

### Lists

In [37]:
my_list = [4, 8, 15, 16, 23, 42]

In [38]:
print(type(my_list))

print(my_list)

<class 'list'>
[4, 8, 15, 16, 23, 42]

The lists are also sequences, so the indexing and smlicing function as we have already seen with the strings

In [39]:
my_list[0]

4

In [40]:
my_list[::-1]

[42, 23, 16, 15, 8, 4]

And they can contain any type of objects:

In [41]:
nombre = 'Jack'

lista_heterogenea = [108, 'Dharma', my_list, nombre]

In [42]:
print(lista_heterogenea)
print(lista_heterogenea[2][0])

[108, 'Dharma', [4, 8, 15, 16, 23, 42], 'Jack']
4

Elements can be added to a list

In [43]:
lista_heterogenea.append('Shepard')
lista_heterogenea

[108, 'Dharma', [4, 8, 15, 16, 23, 42], 'Jack', 'Shepard']

O Elements can be replaced

In [44]:
lista_heterogenea[1] = 323
lista_heterogenea

[108, 323, [4, 8, 15, 16, 23, 42], 'Jack', 'Shepard']

You can even make sequence assignments "sliches" sequences

In [45]:
lista_heterogenea[0:2] = ['A', 'B', 'C', 'D']     # Notice that the value is not necessary to be the same size as the slice
lista_heterogenea

['A', 'B', 'C', 'D', [4, 8, 15, 16, 23, 42], 'Jack', 'Shepard']

Other operations between lists:

In [46]:

print(4 in my_list)
print(4 not in my_list)

L = my_list + lista_heterogenea

print(L)

L = 3*my_list

print(L)

print(sum(my_list))

print(len(my_list))
print(min(my_list))
print(max(my_list))

print(lista_heterogenea.index('B'))

print(lista_heterogenea.count(42))

True

False
[4, 8, 15, 16, 23, 42, 'A', 'B', 'C', 'D', [4, 8, 15, 16, 23, 42], 'Jack', 'Shepard']
[4, 8, 15, 16, 23, 42, 4, 8, 15, 16, 23, 42, 4, 8, 15, 16, 23, 42]
108
6
4
42
1
0

In [47]:
print(lista_heterogenea)
print(lista_heterogenea.count([4, 8, 15, 16, 23, 42]))

['A', 'B', 'C', 'D', [4, 8, 15, 16, 23, 42], 'Jack', 'Shepard']
1

In [48]:
my_list = [4,8,15,16,23,42]
print(my_list)
otra_lista = my_list[::-1]
print(otra_lista)

print(my_list)

my_list.reverse()

print(my_list)

[4, 8, 15, 16, 23, 42]
[42, 23, 16, 15, 8, 4]
[4, 8, 15, 16, 23, 42]
[42, 23, 16, 15, 8, 4]

In [49]:
del my_list[1:3]

print(my_list)

[42, 15, 8, 4]

In [50]:
list1 = [0,1,2]

list2 = list1

list2[0] = 8

print(list1)
print(list2)

[8, 1, 2]
[8, 1, 2]

### Double

The tuples are equal to the lists, with the difference is that the lists are mutable while the tuples do not.

In [51]:
una_tupla = ('Benjamin', 108, my_list, ('Linus', my_list[0]))
print(type(una_tupla))
print(una_tupla[1:3])
una_tupla

<class 'tuple'>
(108, [42, 15, 8, 4])

('Benjamin', 108, [42, 15, 8, 4], ('Linus', 42))

In [52]:
una_tupla.append('B')

AttributeError: 'tuple' object has no attribute 'append'

In [53]:
una_tupla[-1] = 'osooo'

TypeError: 'tuple' object does not support item assignment

In [54]:
una_tupla.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

### Dictionaries

The dictionaries are other types of high level structures that are already incorporated. Unlike sequences, values ​​are not in a position but under a key: they are key associations: value

In [55]:
stock = {'Manzanas': 1, 'Peras': 10, 'Bananas': 5, 'Frutillas': 'Fuera de temporada'} 

stock

{'Manzanas': 1, 'Peras': 10, 'Bananas': 5, 'Frutillas': 'Fuera de temporada'}

We access the value through a key

In [56]:
stock['Frutillas'] = 20

stock

{'Manzanas': 1, 'Peras': 10, 'Bananas': 5, 'Frutillas': 20}

In [57]:
stock['Sandía'] = 1

stock

{'Manzanas': 1, 'Peras': 10, 'Bananas': 5, 'Frutillas': 20, 'Sandía': 1}

In [58]:
del stock['Sandía']

stock

{'Manzanas': 1, 'Peras': 10, 'Bananas': 5, 'Frutillas': 20}

In [59]:
list(stock.items())[1][0]

'Peras'

In [60]:
list(stock.items())

[('Manzanas', 1), ('Peras', 10), ('Bananas', 5), ('Frutillas', 20)]

In [61]:
list(stock.keys())

['Manzanas', 'Peras', 'Bananas', 'Frutillas']

In [62]:
stock.values()

dict_values([1, 10, 5, 20])

## Flow control

One of the fundamental tools of programming is to be able to control the effects on the program when certain conditions are met, or to be able to repeat a number of operations in a simple way. These instructions are arranged in structures that allow to handle the flow of a program, and are present in all programming languages. The most fundamental are called practically the same in most languages.

An important aspect presented by the flow structures in Python is that they require ** Indentation **, that is, to leave spaces in such a way that the structure can be well defined. Another of the eternal discussions of computing is how many spaces are used to indent. The correct answer in this course is ** 4 **.

### Conditional

In [63]:
Nota = 7
if Nota >= 8:
    print ("Aprobó cómodo, felicidades!")
elif 6 <= Nota < 8:
    print ("Bueno, al menos aprobó!")
elif 4 <= Nota < 6 :
    print ("Bastante bien, pero no le alcanzó")
else:
    print("We wait for it after the holidays!")

Bueno, al menos aprobó!

In an IF, Boolean conversion is implicit. The None type (empty), the 0, a sequence (list, tupla, string) (or set or dictionary, which we will see) always empties false. Any other object evaluates True.

In [64]:
respuesta = 'lala'

if respuesta:
    print('replied!')
else:
    print('He did not answer!')

replied!

### Iterations

Loop for

In [65]:
for i in [0,1,2,3]:
    print(i,i+1)

0 1
1 2
2 3
3 4

In [66]:
provincias_patagonicas = ["Tierra del Fuego", "Santa Cruz", "Chubut", "Neuquén", "Río Negro", "La Pampa"]

for provincia in provincias_patagonicas:
    print(provincia)

Tierra del Fuego
Santa Cruz
Chubut
Neuquén
Río Negro
La Pampa

In [67]:
sumatoria = 0

for elemento in [1, 2, 3.6]:
    sumatoria += elemento
    
sumatoria

6.6

### Iterators

We will see a new guy, called `Range`, which is a _iterador_. It is created by any of the following calls:
* `Range (stop)`
* `Range (Start, Stop, Step)`

In [68]:
r = range(10)

print(r)
print(type(r))

range(0, 10)
<class 'range'>

In [69]:
r = list(range(10))

print(r)
print(type(r))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [70]:
p = list(range(2,12,2))

print(p)

[2, 4, 6, 8, 10]

In [71]:
p = list(range(20,10,-2))

print(p)

[20, 18, 16, 14, 12]

In [72]:
for elemento in range(10):
    print(elemento)

0
1
2
3
4
5
6
7
8
9

In [73]:
for (posicion, valor) in enumerate([4, 3, 19]):
    
    print('The position of the position', posicion, 'es', valor)

The position of the position 0 es 4
The position of the position 1 es 3
The position of the position 2 es 19

In [74]:
temp_min = [-3.2, -2, 0, -1, 4, -5, -2, 0, 4, 0]
temp_max = [13.2, 12, 13, 7, 18, 5, 11, 14, 10 , 10]

for t1, t2 in zip(temp_min, temp_max):
  print('The minimum temperature was', t1, 'y la máxima fue', t2)

The minimum temperature was -3.2 y la máxima fue 13.2
The minimum temperature was -2 y la máxima fue 12
The minimum temperature was 0 y la máxima fue 13
The minimum temperature was -1 y la máxima fue 7
The minimum temperature was 4 y la máxima fue 18
The minimum temperature was -5 y la máxima fue 5
The minimum temperature was -2 y la máxima fue 11
The minimum temperature was 0 y la máxima fue 14
The minimum temperature was 4 y la máxima fue 10
The minimum temperature was 0 y la máxima fue 10

### LOOPS FLOW CONTROL
You can get out of the loop using `Break`

In [75]:
sumatoria = 0

for elemento in range(1000):
    
    if elemento > 100:
        break
        
    sumatoria = sumatoria + elemento
    
sumatoria, elemento

(5050, 101)

In [76]:
sumatoria = 0

for elemento in range(101):
    
    sumatoria += elemento
    
sumatoria, elemento

(5050, 100)

An iteration can be omitted using `continue

In [77]:
sumatoria = 0

for elemento in range(20):
    
    if elemento % 2:
        continue
        
    print(elemento, end=', ')
    sumatoria = sumatoria + elemento
    
sumatoria

0, 2, 4, 6, 8, 10, 12, 14, 16, 18,

90

A practical example is to create a list through a loop:

In [78]:
cuadrados = []

for i in range(-3,15,1):
    cuadrados.append(i**2)
    
print(cuadrados)

[9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

Loop while

In [79]:
a = 0
while a < 10:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9

In [80]:
n = 1
while True:
    n = n + 1
    print(n, 'elefantes se balanceaban sobre la tela de una araña')
    continuar = input('Desea invitar a otro elefante?')
    if continuar.lower() == 'no':
        break

2 elefantes se balanceaban sobre la tela de una araña

StdinNotImplementedError: raw_input was called, but this frontend does not support input requests.

## Printing with format
While Python is quite cunning when printing using the `print` instruction, you can format what one wants to print. There are a variety of ways to get a pleasant impression. Let's look at a couple of cases.

### Using `% 
The `%` symbol is used to define the format of each variable. Let's look at some examples

In [81]:
s = 42

In [82]:
print("s (decimal): %d" % s)
print("s (decimal): %10.3d" % s)
print("s (octal)  : %o" % s)
print("s (hexadecimal)  : %x" % s)

s (decimal): 42
s (decimal):        042
s (octal)  : 52
s (hexadecimal)  : 2a

In [83]:
from math import *

golden_ratio = (1 + sqrt(5))/2

In [84]:
print(golden_ratio)
print("Golden Ratio = %5.2f" % golden_ratio) # A 5 characters field, with two decimals
print("Golden Ratio = %5.3f Golden Ratio/100 = %8.3e" % (golden_ratio,golden_ratio/100)) # A 5 characters field, with three decimals, exponential notation

1.618033988749895
Golden Ratio =  1.62
Golden Ratio = 1.618 Golden Ratio/100 = 1.618e-02

### Using `format '

In [85]:
print("s (decimal): {0:d}" .format(s))
print("s (decimal): {0:10d}".format(s))
print("s (octal)  : {0:o}".format(s))
print("s (hexadecimal)  : {0:x}".format(s))

s (decimal): 42
s (decimal):         42
s (octal)  : 52
s (hexadecimal)  : 2a

In [86]:
print(golden_ratio)
print("Golden Ratio = {0:5.2f}" .format(golden_ratio)) # A 5 characters field, with two decimals
print("Golden Ratio = {0:5.3f} Golden Ratio/100 = {1:8.3e}" .format(golden_ratio,golden_ratio/100)) # A 5 characters field, with three decimals, exponential notation

1.618033988749895
Golden Ratio =  1.62
Golden Ratio = 1.618 Golden Ratio/100 = 1.618e-02

The use of `format` is also called positional

In [87]:
print("Golden Ratio = {1:5.3f} Golden Ratio/100 = {0:8.3e}" .format(golden_ratio,golden_ratio/100)) # A 5 characters field, with three decimals, exponential notation
# A 5 characters field, with three decimals, exponential notation

Golden Ratio = 0.016 Golden Ratio/100 = 1.618e+00